.home-section{
    height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.middle-info {
    height: 300px;
    width: 80dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 88%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
}

.middle-info-cards{
    & {
        position: relative;
        top: 20px;
        min-width: 80dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        color: white;
        height: 300px;
        width: 100%;
        animation: showUp 1s linear;
    }
    & .middle-info-phrase h1{
        opacity: 85%;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
    }
    & img {
        position: absolute;
        height: 150px;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 80%;
        filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.603));
    }
    & .middle-info-description{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        font-size: 1.1rem;
        text-align: end;
        opacity: 85%;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
    }

}

#mga-tour-info-logo{
    height: 320px;
    top: -42%;
}

#unipaper-info-logo{
    height: 250px;
    top: -28%;
    left: 51%;
}

#usports-info-logo{
    height: 40px;
    top: 5%;
}

#school-travel-info-logo{
    height: 220px;
    top: -25%;
}

.logo-holding {
    height: 18rem;
    animation: showUp 1s linear;
}

h1 {
    position: relative;
    margin-right: 20px;
    width: 400px;
    font-weight: 400;
    font-size: 29px;
}

.middle-info h1 {
    animation: slideIn 1.5s linear;
}

.holding-bottom-cards{
    width: 80dvw;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.card{
    & {
        display: flex;
        align-items: flex-end;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.479));
        opacity: 92%;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    & .title-cards {
        position: absolute;
        padding: 10px;
        color: rgba(255, 255, 255, 0.932);
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.863));;
    }
    & h2 {
        font-size: 1.1rem;
    }
    & h3 {
        font-size: 0.8rem;
        font-weight: 300;
    }
    & .img-container-cards{
        height: 150px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .normal{
        opacity: 100%;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        z-index: -1;
    }
    & .hover {
        opacity: 0%;
        position: absolute;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.603);
    }
    & #cardLogoUsports {
        padding: 50px;
    }

}

.card:hover{
    & {
        scale: 1.1;
        filter: drop-shadow(0px 5px 30px rgba(255, 255, 255, 0.63));
    }
    & .title-cards{
        display: none;
    }
    & .normal {
        opacity: 50%;
    }
    & .hover {
        opacity: 100%;
    }
}

@keyframes showUp {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 85%;
    }
}

@keyframes slideIn {
    0% {
        left: -80%;
        opacity: 0%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}