.home-section{
    height: 85dvh;
    min-height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.middle-info {
    height: 300px;
    width: 80dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 88%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
    pointer-events: none;
}

.middle-info-cards{
    & {
        position: relative;
        top: 20px;
        min-width: 80dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        color: white;
        height: 300px;
        width: 100%;
        animation: showUp 1s linear;
        pointer-events: none;
    }
    & .middle-info-phrase h1{
        opacity: 85%;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
    }
    & img {
        position: absolute;
        height: 150px;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 80%;
        filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.199));
    }
    & .middle-info-description{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        font-size: 1.1rem;
        text-align: end;
        opacity: 85%;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.37));
    }

}

#mga-tour-info-logo{
    height: 130px;
}

#unipaper-info-logo{
    height: 110px;
    top: -5%;
    left: 51%;
}

#usports-info-logo{
    height: 140px;
}

#school-travel-info-logo{
    height: 90px;
    top: -5%;
}

.logo-holding {
    height: 18rem;
    animation: showUp 1s linear;
}

h1 {
    position: relative;
    margin-right: 20px;
    width: 400px;
    font-weight: 400;
    font-size: 29px;
}

.middle-info h1 {
    animation: slideIn 1.5s linear;
}


.holding-bottom-cards{
    width: 78dvw;
    max-width: 80dvw;
    max-height: 26dvh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.card{
    & {
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        border-radius: 15px;
        height: 24dvh;
        width: 18dvw;
        max-height: 25dvh;
        max-width: 19dvw;
        overflow: hidden;
    }
    & .title-cards {
        position: absolute;
        padding: 10px;
        color: rgba(255, 255, 255, 0.932);
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.863));;
        z-index: 5;
    }
    & h2 {
        font-size: 1.1rem;
    }
    & h3 {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.img-container-cards{
    & {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    & .normal{
        height: 100%;
        width: 100%;
        opacity: 90%;
    }
    & .hover{
        height: 100%;
        width: 100%;
        display: none;
    }
}

.card:hover, .card:active{
    & {
        scale: 1.01;
        border: 1px solid rgba(255, 255, 255, 0.774);
        background-color: rgba(255, 255, 255, 0.233);
    }
    & .title-cards{
        display: none;
    }
    & .normal {
        display: none;
        opacity: 50%;
        z-index: -1;
    }
    & .hover {
        display: block;
        height: 60%;
        width: auto;
        opacity: 100%;
        z-index: 1;
        filter: drop-shadow(0px 0px 35px rgb(0, 0, 0));
    }
}

@keyframes showUp {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 85%;
    }
}

@keyframes slideIn {
    0% {
        left: -80%;
        opacity: 0%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}