@media screen and (min-width: 1920px) {
    .middle-info {
        height: 450px;
    }
    .middle-info-cards{
        & {
            padding: 0px 150px;
            height: 450px;
        }
        & img {
            transform: translateX(-55%);
        }
    }

    #mga-tour-info-logo{
        height: 200px;
        top: 10%;
    }

    #unipaper-info-logo{
        height: 170px;
        top: 15%;
    }

    #usports-info-logo{
        height: 180px;
        top: 15%;
        left: 52%;
    }

    #school-travel-info-logo{
        height: 140px;
        top: 17%;
        left: 52%;
    }

    .logo-holding {
        height: 20rem;
    }

    h1 {
        width: 500px;
        font-size: 35px;
    }

    .holding-bottom-cards{
        gap: 25px;
        margin-bottom: 80px;
    }

    .card{
        & .title-cards {
            padding: 12px 15px;
        }
        & h2 {
            font-size: 1.2rem;
        }
        & h3 {
            font-size: 0.9rem;
            font-weight: 300;
        }
        & .img-container-cards{
            height: 200px;
            width: 280px;
        }
        & .normal{
            opacity: 100%;
            border-radius: 15px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            z-index: -1;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    body {
        background-position: 45%;
        background-size: cover;
    }   

    .home-section{
        justify-content: flex-start;
        gap: 100px;
    }

    .middle-info {
        height: 250px;
    }

    .middle-info-cards{
        & {
            top: 90px;
            height: 250px;
        }
        & .middle-info-description{
            line-height: 30px;
            font-size: 1rem;
        }
    }
    #mga-tour-info-logo{
        top: -27%;
        left: 51%;
    }
    #unipaper-info-logo{
        top: -10%;
        left: 51%;
    }

    #usports-info-logo{
        top: -25%;
    }

    #school-travel-info-logo{
        top: -5%;
        left: 54%;
    }

    .logo-holding {
        height: 12rem;
    }

    h1 {
        margin-right: 15px;
        width: 300px;
        font-size: 22px;
    }

    .bottom-container{
        width: 90dvw;
        display: flex;
        justify-content: center;
    }

    .holding-bottom-cards{
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 30px;
        justify-items: center;
    }
    .card{
        & .img-container-cards{
            height: 190px;
            width: 290px;
        }
        & .hover {
            padding: 40px;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        background-position: 50%;
    }
    .home-section{
        align-items: center;
        gap: 40px;
    }

    .middle-info {
        height: 200px;
        width: 80dvw;
        flex-direction: column-reverse;
        filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.521));
    }
    .middle-info-cards{
        & {
            top: 70px;
            flex-direction: column;
            justify-content: center;
            height: 200px;
            filter: drop-shadow(0px 4px 60px rgba(0, 0, 0, 1));
        }
        & .middle-info-description{
            margin-top: 15px;
            line-height: 30px;
            text-align: center;
            font-size: .8rem;
        }
    }

    .middle-info-phrase h1{
        font-size: 14px;
        line-height: 8px;
        font-weight: 600;
    }

    .logo-holding {
        height: 6.5rem;
    }

    h1 {
        position: relative;
        text-align: center;
        margin-right: 0;
        width: 300px;
        font-size: 18px;
        margin-top: 15px;
    }
    .bottom-container{
        width: fit-content;
        display: flex;
        justify-content: center;
    }

    .holding-bottom-cards{
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        justify-items: center;
    }
    .card{
        & .img-container-cards{
            height: 18vh;
            width: 45vw;
        }
        & .hover {
            padding: 25px;
        }
    }
    .middle-info-cards{
        & {
            top: 0px;
        }
        & h1, img {
            display: none;
        }
    }  
}

@media screen and (max-width: 360px) {
    .home-section{
        align-items: center;
        gap: 20px;
    }
    .logo-holding {
        height: 6rem;
    }
}

@media screen and (max-width: 320px) {
    .home-section{
        align-items: center;
        gap: 0px;
    }
    .logo-holding {
        height: 4rem;
    }   
    h1{
        font-size: 14px;
    }  
    .card{
        & h2 {
            font-size: .9rem;
            font-weight: 600;
        }
        & h3 {
            font-size: 0.7rem;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        scale: 1.03;
        filter: drop-shadow(0px 5px 30px rgba(255,255,255,0.63));
    }
    .card:hover .title-cards {
        display: none;
    }
    .card:hover .normal {
        opacity: 50%;
    }
    .card:hover .hover {
        opacity: 100%;
    }
}

@media (hover: none) {
    .card:hover,
    .card:focus {
        scale: none !important;
    }
}